.Benefits {
  padding-top: 68px;
  .container {
    display: flex;
    flex-direction: column;
    h1 {
      color: var(--Dark-Primary, #2a254b);
      text-align: center;
      font-size: 36px;
      font-style: normal;
      font-weight: 400;
      line-height: 140%;
      padding-bottom: 16px;
    }
    p {
      color: var(--Dark-Primary, #2a254b);
      text-align: center;
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: 150%;
      width: 450px;
      display: flex;
      margin: auto;
      padding-bottom: 72px;
    }
    .benefits-input {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-bottom: 54px;
      input {
        display: flex;
        width: 354px;
        height: 48px;
        border: 1px solid #c9c3ef;
        background: transparent;
        padding-left: 20px;
        color: rgb(195, 188, 188);
        outline: none;
        ::placeholder {
          color: var(--Dark-Primary, #2a254b);
          font-size: 16px;
          font-style: normal;
          font-weight: 400;
          line-height: normal;
        }
      }
      .input-btn {
        border: none;
        background: var(--Dark-Primary, #2a254b);
        padding: 16px 32px;
        cursor: pointer;
      }
    }
  }
}

@media (max-width: 570px) {
  .Benefits {
    .container {
      p {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        flex-wrap: wrap;
      }
      .benefits-input {
        input {
          display: flex;
          width: 270px;
        }
        .input-btn {
          white-space: nowrap;
        }
      }
    }
  }
}
@media (max-width: 400px) {
  .Benefits {
    .container {
      .benefits-input {
        input {
          width: 220px;
        }
      }
    }
  }
}
@media (max-width: 300px) {
  .Benefits {
    .container {
      .benefits-input {
        input {
          width: 150px;
        }
      }
    }
  }
}
@media (max-width: 250px) {
  .Benefits {
    .container {
      padding-top: 30px;
      h1 {
        font-size: 22px;
      }
      .benefits-input {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 54px;
        input {
          display: flex;
          width: 354px;
          height: 55px;
          border: 1px solid #c9c3ef;
          background: transparent;
          padding-left: 20px;
          color: rgb(195, 188, 188);
          outline: none;
          ::placeholder {
            color: var(--Dark-Primary, #2a254b);
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
          }
        }
        .input-btn {
          border: none;
          background: var(--Dark-Primary, #2a254b);
          padding: 16px 32px;
          cursor: pointer;
        }
      }
    }
  }
}
